*{
	margin: 0;
	padding: 0; 
}

a{
	text-decoration: none;
}


body{
	font-family: 'Raleway', sans-serif;		
}


.czapka{
	background: #333;
	height: 30px;
	width:100%;
}


#kontakt{
	float: left;
	margin-left: 40px;
	margin-top: 5px;
	margin-bottom: 10px;
}
#kontakt a{color: #fff;}
#kontakt p{color: #20a052;}


#letter{
	float: right;
	margin-right: 40px;
	margin-top: 5px;
	margin-bottom: 10px;
}
#letter a{color: white;}
#letter p{color: #20a052;}


.logo{
	background: #000;
	width: 100%;	
	text-align: center;
}

.graficlogo{
	padding: 5px;
	max-width: 100%;
	box-sizing: border-box;
}



nav{
	margin: 0 auto;
	width: 100%;
	max-width: 800px;
}

.topnav{
	
	background: #fff;
	margin-top: 30px;
}

.topnav a{
	font-size: 15px;
	color: #000;
	display: flex;
	text-align: center;	
	padding: 5px 10px;
}

.topnav ul {
	margin: 0;
	padding:0;
	position: relative;
	display: flex;
	width: 100%;
	justify-content: center;

}

.topnav ul.sub{
	display: none;
	position: absolute;
	top: 30px;
	left: -25px;
	flex-direction: column;
	width: 225px;
	height: 0;
	opacity: 0;
	visibility: hidden;
}
.topnav ul.sub li {
	margin: 0 0 7px 0;
}

.topnav ul.sub li:first-child {
margin-top: 10px;
}

.topnav ul.sub li:last-child {
margin: 0 0 0px 0;
}
.topnav ul li{
	margin: 15px;
	display: flex;
	position: relative;
	border-bottom:  2px solid transparent;
}

ul.top_menu > li:hover > ul.sub{
	display: flex;
	height: auto;
	opacity: 1;
	visibility: visible;
	background: #fff;
}

.topnav li:hover{
	border-color:  #000;
}

.topnav .icon{
	display: none;
}


/* FOOTER        */

footer{
	clear: both;
	width: 100%;
	height: auto;
	background: #000;
	margin: 0 auto;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
}

footer nav a{
	color:#fff;
	font-size: 13px;
	margin-left: 10px;
	text-decoration: none;
}

footer nav a:hover{
		border-bottom: 2px solid #fff;
}

.social img{
	margin-top: 10px;
	margin-left: 30px;
}

.social img:hover{
	background: #20a052;
	border-radius: 50%; 
}

footer p{
	margin-top: 15px;
	font-size: 15px;
	color:#fff;
}

/*    MAIN   */
 h1{
 	width: 100%;
 	margin: 10px;
 	text-align: center;
 }

 hr.hrom{
	height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
	margin-bottom: 5px;
}

img.cennik{
	margin-left:400px;
}
